In [21]:
import pandas as pd

In [22]:
def describe_categorical_columns(df: pd.DataFrame, max_display: int = 5):
    """
    Describe the categorical columns of a given DataFrame.

    For each categorical column, this function prints:
    1. Unique values in the column.
    2. Count of each unique value.

    Parameters:
    - df (pd.DataFrame): The input DataFrame to be analyzed.
    - max_display (int): The maximum number of unique values to display per column.

    Returns:
    None. The function prints the results.
    """

    for column in df.select_dtypes(include=['object']):
        print(f"Column '{column}':")

        # Get the value counts for each unique value.
        value_counts = df[column].value_counts()

        # If the number of unique values is within the display limit, show all values.
        if len(value_counts) <= max_display:
            print("Unique Values:")
            print(value_counts.index.tolist())
            print("Value Counts:")
            print(value_counts)
        # If there are more unique values than the display limit, show the top most frequent values.
        else:
            print(f"Showing top {max_display} of {len(value_counts)} unique values:")
            print("Unique Values:")
            print(value_counts.index[:max_display].tolist())
            print("Value Counts:")
            print(value_counts.head(max_display))

        print()  # Add an empty line for separation.

## Initial Inspection of Both Datasets

In [23]:
df = pd.read_csv(r"data\Electric_Vehicle_Population_Data.csv")
df.head(5)

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5UXTA6C03P,King,Seattle,WA,98177.0,2023,BMW,X5,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,30,0,36.0,218985539,POINT (-122.38242499999996 47.77279000000004),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
1,1FMCU0EZXN,Yakima,Moxee,WA,98936.0,2022,FORD,ESCAPE,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,38,0,15.0,197264322,POINT (-120.37951169999997 46.55609000000004),PACIFICORP,5.307700e+10
2,1G1FW6S03J,King,Seattle,WA,98117.0,2018,CHEVROLET,BOLT EV,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238,0,36.0,168549727,POINT (-122.37275999999997 47.689685000000054),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
3,5YJSA1AC0D,King,Newcastle,WA,98059.0,2013,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208,69900,41.0,244891062,POINT (-122.15733999999998 47.487175000000036),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
4,1FADP5CU8F,Kitsap,Bremerton,WA,98312.0,2015,FORD,C-MAX,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,19,0,26.0,134915000,POINT (-122.65223 47.57192),PUGET SOUND ENERGY INC,5.303508e+10

In [24]:
df["Clean Alternative Fuel Vehicle (CAFV) Eligibility"].value_counts().head(5)

Clean Alternative Fuel Vehicle (CAFV) Eligibility
Eligibility unknown as battery range has not been researched    63954
Clean Alternative Fuel Vehicle Eligible                         62149
Not eligible due to low battery range                           17493
Name: count, dtype: int64

In [25]:
df_wa = df[df["State"] == "WA"]
df_wa["Legislative District"].value_counts().head(5)

Legislative District
41.0    9553
45.0    8807
48.0    8045
36.0    6270
1.0     6209
Name: count, dtype: int64

In [26]:
df_wa["Electric Utility"].value_counts().head(5)

Electric Utility
PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)                                      52866
PUGET SOUND ENERGY INC                                                             28419
CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)                                       26145
BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF CLARK COUNTY - (WA)                    8255
BONNEVILLE POWER ADMINISTRATION||CITY OF TACOMA - (WA)||PENINSULA LIGHT COMPANY     6351
Name: count, dtype: int64

## Column Dictionary

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143596 entries, 0 to 143595
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         143596 non-null  object
 1   County                                             143574 non-null  object
 2   City                                               143574 non-null  object
 3   State                                              143596 non-null  object
 4   Postal Code                                        143574 non-null  float64
 5   Model Year                                         143596 non-null  int64
 6   Make                                               143596 non-null  object
 7   Model                                              143596 non-null  object
 8   Electric Vehicle Type                              143596 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  143596 non-null  object
 10  Electric Range                                     143596 non-null  int64
 11  Base MSRP                                          143596 non-null  int64
 12  Legislative District                               143269 non-null  float64
 13  DOL Vehicle ID                                     143596 non-null  int64
 14  Vehicle Location                                   143571 non-null  object
 15  Electric Utility                                   143574 non-null  object
 16  2020 Census Tract                                  143574 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 18.6+ MB

- VIN (1-10): VINs are unique identifiers for individual vehicles.

- County, City, State, Postal Code: These are geographic identifiers that specify where the vehicle is located.

- Model Year: The year the vehicle model was manufactured.

- Make, Model: The brand and the specific model of the vehicle.

- Electric Vehicle Type:Plug-in Hybrid Electric Vehicle (PHEV) or Battery Electric Vehicle (BEV).

- Clean Alternative Fuel Vehicle (CAFV) Eligibility: Indicates whether the vehicle is eligible for any clean alternative fuel vehicle programs or incentives.

- Electric Range: Represents the range of the vehicle on a single electric charge, usually in miles or kilometers.

- Base MSRP: Manufacturer's Suggested Retail Price; we may not need it.

- Legislative District: Probably relates to the legislative or governmental district where the vehicle is registered.

- DOL Vehicle ID: Department of Licensing Vehicle ID, another unique identifier for the vehicle.

- Vehicle Location: Appears to be the longitude and latitude coordinates of the vehicle location.

- Electric Utility: The electric utility provider in the vehicle's geographic area.

- 2020 Census Tract: A geographic region defined for the purpose of taking a census. Useful for sociodemographic analysis.

In [28]:
# Check for duplicate rows in the dataframe
duplicate_rows = df.duplicated()

# Count the number of duplicate rows
num_duplicate_rows = duplicate_rows.sum()

print(f"Number of duplicate rows = {duplicate_rows.sum()}")

Number of duplicate rows = 0

In [29]:
missing_values = df.isnull().sum()
for column, count in missing_values.items():
    print(f"Column '{column}' has {count} missing values.")

Column 'VIN (1-10)' has 0 missing values.
Column 'County' has 22 missing values.
Column 'City' has 22 missing values.
Column 'State' has 0 missing values.
Column 'Postal Code' has 22 missing values.
Column 'Model Year' has 0 missing values.
Column 'Make' has 0 missing values.
Column 'Model' has 0 missing values.
Column 'Electric Vehicle Type' has 0 missing values.
Column 'Clean Alternative Fuel Vehicle (CAFV) Eligibility' has 0 missing values.
Column 'Electric Range' has 0 missing values.
Column 'Base MSRP' has 0 missing values.
Column 'Legislative District' has 327 missing values.
Column 'DOL Vehicle ID' has 0 missing values.
Column 'Vehicle Location' has 25 missing values.
Column 'Electric Utility' has 22 missing values.
Column '2020 Census Tract' has 22 missing values.

A more comprehensive view of categorical columns by showing both unique values and their corresponding counts.

In [30]:
describe_categorical_columns(df)

Column 'VIN (1-10)':

Showing top 5 of 9311 unique values:
Unique Values:
['7SAYGDEE7P', '7SAYGDEE2P', '7SAYGDEE6P', '7SAYGDEE8P', '7SAYGDEE0P']
Value Counts:
VIN (1-10)
7SAYGDEE7P    652
7SAYGDEE2P    636
7SAYGDEE6P    632
7SAYGDEE8P    628
7SAYGDEE0P    619
Name: count, dtype: int64

Column 'County':
Showing top 5 of 170 unique values:
Unique Values:
['King', 'Snohomish', 'Pierce', 'Clark', 'Thurston']
Value Counts:
County
King         75383
Snohomish    16429
Pierce       11017
Clark         8455
Thurston      5097
Name: count, dtype: int64

Column 'City':
Showing top 5 of 655 unique values:
Unique Values:
['Seattle', 'Bellevue', 'Redmond', 'Vancouver', 'Bothell']
Value Counts:
City
Seattle      24662
Bellevue      7376
Redmond       5245
Vancouver     5045
Bothell       4599
Name: count, dtype: int64

Column 'State':
Showing top 5 of 43 unique values:
Unique Values:
['WA', 'CA', 'VA', 'MD', 'TX']
Value Counts:
State
WA    143269
CA        90
VA        36
MD        31
TX        21
Name: count, dtype: int64

Column 'Make':
Showing top 5 of 37 unique values:
Unique Values:
['TESLA', 'NISSAN', 'CHEVROLET', 'FORD', 'BMW']
Value Counts:
Make
TESLA        65552
NISSAN       13317
CHEVROLET    11816
FORD          7307
BMW           6209
Name: count, dtype: int64

Column 'Model':
Showing top 5 of 127 unique values:
Unique Values:
['MODEL 3', 'MODEL Y', 'LEAF', 'MODEL S', 'BOLT EV']
Value Counts:
Model
MODEL 3    26766
MODEL Y    26194
LEAF       13093
MODEL S     7542
BOLT EV     5599
Name: count, dtype: int64

Column 'Electric Vehicle Type':
Unique Values:
['Battery Electric Vehicle (BEV)', 'Plug-in Hybrid Electric Vehicle (PHEV)']
Value Counts:
Electric Vehicle Type
Battery Electric Vehicle (BEV)            110865
Plug-in Hybrid Electric Vehicle (PHEV)     32731
Name: count, dtype: int64

Column 'Clean Alternative Fuel Vehicle (CAFV) Eligibility':
Unique Values:
['Eligibility unknown as battery range has not been researched', 'Clean Alternative Fuel Vehicle Eligible', 'Not eligible due to low battery range']
Value Counts:
Clean Alternative Fuel Vehicle (CAFV) Eligibility
Eligibility unknown as battery range has not been researched    63954
Clean Alternative Fuel Vehicle Eligible                         62149
Not eligible due to low battery range                           17493
Name: count, dtype: int64

Column 'Vehicle Location':
Showing top 5 of 790 unique values:
Unique Values:
['POINT (-122.12302 47.67668)', 'POINT (-122.1873 47.82024500000006)', 'POINT (-122.20263999999997 47.67850000000004)', 'POINT (-122.201905 47.61385)', 'POINT (-122.16936999999996 47.571015000000045)']
Value Counts:
Vehicle Location
POINT (-122.12302 47.67668)                       3689
POINT (-122.1873 47.82024500000006)               2605
POINT (-122.20263999999997 47.67850000000004)     2526
POINT (-122.201905 47.61385)                      2372
POINT (-122.16936999999996 47.571015000000045)    2359
Name: count, dtype: int64

Column 'Electric Utility':
Showing top 5 of 76 unique values:
Unique Values:
['PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)', 'PUGET SOUND ENERGY INC', 'CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)', 'BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF CLARK COUNTY - (WA)', 'BONNEVILLE POWER ADMINISTRATION||CITY OF TACOMA - (WA)||PENINSULA LIGHT COMPANY']
Value Counts:
Electric Utility
PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)                                      52866
PUGET SOUND ENERGY INC                                                             28419
CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)                                       26145
BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF CLARK COUNTY - (WA)                    8255
BONNEVILLE POWER ADMINISTRATION||CITY OF TACOMA - (WA)||PENINSULA LIGHT COMPANY     6351
Name: count, dtype: int64

In [31]:
df[["Electric Range", "Base MSRP"]].describe()

       Electric Range      Base MSRP
count   143596.000000  143596.000000
mean        70.495738    1373.386515
std         97.128735    9450.067747
min          0.000000       0.000000
25%          0.000000       0.000000
50%         19.000000       0.000000
75%        111.000000       0.000000
max        337.000000  845000.000000

In [32]:
df["Base MSRP"].value_counts().head(5)

Base MSRP
0        140151
69900      1446
31950       401
52900       217
32250       149
Name: count, dtype: int64

In [33]:
df["Electric Range"].value_counts().head(5)

Electric Range
0      63954
215     6472
220     4154
84      4039
238     3550
Name: count, dtype: int64

In [34]:
# Extract the required columns 'Electric Range' and 'Base MSRP' from the dataframe
subset_df = df[["Electric Range", "Base MSRP"]]

# Calculate IQR for Electric Range
Q1_ER = subset_df["Electric Range"].quantile(0.25)
Q3_ER = subset_df["Electric Range"].quantile(0.75)
IQR_ER = Q3_ER - Q1_ER

# Calculate IQR for Base MSRP
Q1_BM = subset_df["Base MSRP"].quantile(0.25)
Q3_BM = subset_df["Base MSRP"].quantile(0.75)
IQR_BM = Q3_BM - Q1_BM

# Find outliers for Electric Range based on IQR
outliers_electric_range_iqr = subset_df[
    (subset_df["Electric Range"] < (Q1_ER - 1.5 * IQR_ER))
    | (subset_df["Electric Range"] > (Q3_ER + 1.5 * IQR_ER))
]

# Find outliers for Base MSRP based on IQR
outliers_base_msrp_iqr = subset_df[
    (subset_df["Base MSRP"] < (Q1_BM - 1.5 * IQR_BM))
    | (subset_df["Base MSRP"] > (Q3_BM + 1.5 * IQR_BM))
]

# Print the outliers for Electric Range
print("Outliers in Electric Range:")
print(outliers_electric_range_iqr["Electric Range"])

# Print the outliers for Base MSRP
print("\nOutliers in Base MSRP:")
print(outliers_base_msrp_iqr["Base MSRP"])

Outliers in Electric Range:
15        293
67        322
71        293
76        289
81        291
         ...
143473    289
143513    293
143535    291
143587    291
143589    291
Name: Electric Range, Length: 5942, dtype: int64

Outliers in Base MSRP:
3         69900
60        69900
88        69900
181       31950
199       33950
          ...
143435    36900
143531    54950
143534    34995
143545    54950
143558    69900
Name: Base MSRP, Length: 3445, dtype: int64

In [35]:
df1 = pd.read_csv(r"data\Electric_Vehicle_Population_Size_History_By_County.csv")
df1.head(5)

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
0,November 30 2020,St. Mary's,MD,Passenger,1,0,1,215,216,0.46
1,February 28 2021,Sedgwick,KS,Passenger,1,1,2,89,91,2.20
2,November 30 2017,New Haven,CT,Passenger,0,1,1,53,54,1.85
3,April 30 2021,Thurston,WA,Truck,0,0,0,56710,56710,0.00
4,October 31 2017,Adams,WA,Passenger,3,3,6,12283,12289,0.05

## Column Dictionary

In [36]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17965 entries, 0 to 17964
Data columns (total 10 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Date                                      17965 non-null  object
 1   County                                    17886 non-null  object
 2   State                                     17886 non-null  object
 3   Vehicle Primary Use                       17965 non-null  object
 4   Battery Electric Vehicles (BEVs)          17965 non-null  int64
 5   Plug-In Hybrid Electric Vehicles (PHEVs)  17965 non-null  int64
 6   Electric Vehicle (EV) Total               17965 non-null  int64
 7   Non-Electric Vehicle Total                17965 non-null  int64
 8   Total Vehicles                            17965 non-null  int64
 9   Percent Electric Vehicles                 17965 non-null  float64
dtypes: float64(1), int64(5), object(4)
memory usage: 1.4+ MB

- Date: The date for the data entry. It appears to be formatted as "Month Day Year" and end-of-period date for the data provided.

- County: The name of the county.

- State: The state in which the mentioned county is located.

- Vehicle Primary Use: The primary use of the vehicle (e.g., "Passenger," "Truck").

- Battery Electric Vehicles (BEVs): The count of BEVs in the given county, state, and date.

- Plug-In Hybrid Electric Vehicles (PHEVs): The count of PHEVs in the given county, state, and date.

- Electric Vehicle (EV) Total: The total count of all types of electric vehicles.

- Non-Electric Vehicle Total: The count of vehicles that are not electric.

- Total Vehicles: The total number of all vehicles, including both electric and non-electric.

- Percent Electric Vehicles: The percentage of electric vehicles out of the total number of vehicles

In [37]:
# Check for duplicate rows in the dataframe
duplicate_rows = df1.duplicated()

# Count the number of duplicate rows
num_duplicate_rows = duplicate_rows.sum()

print(f"Number of duplicate rows = {duplicate_rows.sum()}")

Number of duplicate rows = 0

In [38]:
missing_values = df1.isnull().sum()
for column, count in missing_values.items():
    print(f"Column '{column}' has {count} missing values.")

Column 'Date' has 0 missing values.
Column 'County' has 79 missing values.
Column 'State' has 79 missing values.
Column 'Vehicle Primary Use' has 0 missing values.
Column 'Battery Electric Vehicles (BEVs)' has 0 missing values.
Column 'Plug-In Hybrid Electric Vehicles (PHEVs)' has 0 missing values.
Column 'Electric Vehicle (EV) Total' has 0 missing values.
Column 'Non-Electric Vehicle Total' has 0 missing values.
Column 'Total Vehicles' has 0 missing values.
Column 'Percent Electric Vehicles' has 0 missing values.

In [39]:
describe_categorical_columns(df1)

Column 'Date':
Showing top 5 of 79 unique values:
Unique Values:
['February 28 2022', 'January 31 2022', 'November 30 2021', 'October 31 2021', 'March 31 2022']
Value Counts:
Date
February 28 2022    261
January 31 2022     260
November 30 2021    259
October 31 2021     258
March 31 2022       257
Name: count, dtype: int64

Column 'County':
Showing top 5 of 290 unique values:
Unique Values:
['Montgomery', 'Jefferson', 'Douglas', 'Clark', 'Franklin']
Value Counts:
County
Montgomery    272
Jefferson     269
Douglas       259
Clark         237
Franklin      205
Name: count, dtype: int64

Column 'State':
Showing top 5 of 48 unique values:
Unique Values:
['WA', 'CA', 'VA', 'TX', 'FL']
Value Counts:
State
WA    6162
CA    1381
VA    1008
TX     931
FL     909
Name: count, dtype: int64

Column 'Vehicle Primary Use':
Unique Values:
['Passenger', 'Truck']
Value Counts:
Vehicle Primary Use
Passenger    14850
Truck         3115
Name: count, dtype: int64

In [40]:
df1[
    [
        "Battery Electric Vehicles (BEVs)",
        "Electric Vehicle (EV) Total",
        "Percent Electric Vehicles",
    ]
].describe()

,Battery Electric Vehicles (BEVs),Electric Vehicle (EV) Total,Percent Electric Vehicles
count,17965.000000,17965.000000,17965.000000
mean,202.596104,281.354133,3.837090
std,2017.309902,2613.246332,10.886949
min,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.320000
50%,1.000000,1.000000,1.090000
75%,3.000000,4.000000,2.560000
max,58610.000000,73335.000000,100.000000